<footer>
    <div class="bg-dark">
        <div class="hyperlink">
            <div class="container">
                <p style="text-align:center">© 2017 - Inversiones MegaTierras S.A. Todos los Derechos Reservados. Creado por MasPublicidad</p>
            </div>
        </div>
    </div>
</footer>
