<header>
    <div class="bg-white">
        <div class="header-topbar">
            <div class="container">
                <ul class="topbar-left list-unstyled pull-left">
                    <li><a href="#contacto" class="email"><i class="topbar-icon fa fa-envelope"></i>
                      <span>Enviar mensaje</span></a></li>
                    <li>
                      <a href="tel:+507 388 4498" class="hotline">
                      <i class="topbar-icon fa fa-phone"></i><span><?php echo $generales->telefono ?> </span>
                      </a>
                    </li>

                    <li><a href="<?php echo $generales->link_direccion ?>" class="email" target="_blank">
                      <i class="topbar-icon fa fa-map-marker"></i><span> <?php echo $generales->direccion ?></span></a></li>
                </ul>
                <div class="topbar-right pull-right">
                    <div class="socials">
                      <a href="<?php echo $generales->facebook ?>" target="_blank" class="link facebook">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="<?php echo $generales->instagram ?>" target="_blank" class="link instagram">
                        <i class="fa fa-instagram"></i></a>
                      </div>
                </div>
            </div>
        </div>
        <div class="header-main header-style2">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-header">
                        <div class="logo logo-black"><a href="<?php echo PUBLIC_PATH ?>" class="header-logo">
                          <img src="<?php echo PUBLIC_PATH ?>img/logo.png" alt=""/></a>
                        </div>
                        <div class="logo logo-white"><a href="<?php echo PUBLIC_PATH ?>" class="header-logo">
                          <img src="<?php echo PUBLIC_PATH ?>img/logo.png" alt=""/></a>
                        </div>
                        <button type="button" data-toggle="collapse"
                        data-target=".navigation" class="navbar-toggle btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse">
                        <ul class="nav-links nav navbar-nav">
                            <li class="active"><a href="#" class="main-menu">inicio</a></li>
                            <li><a href="#nosotros" class="main-menu">nosotros</a></li>
                            <li><a href="#servicios" class="main-menu">servicios</a></li>
                            <li><a href="#proyectos" class="main-menu">proyectos</a></li>
                            <li><a href="#avances" class="main-menu">Avances de obras</a></li>
                            <li><a href="#contacto" class="main-menu">contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
