<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editar Servicio
  </h1>
</section>
<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
<form action="" method="post" enctype="multipart/form-data">
  <?php echo Form::hidden('servicios.id') ?>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Información del Servicio</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Titulo</label>
            <?php echo Form::text('servicios.titulo', array(
              'placeholder'=>"Titulo del servicio",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label for="exampleInputFile">Imagen (90x60)</label>
            <input type="file" accept="image/jpeg,image/gif,image/x-png" name="imagen"
            id="exampleInputFile" class="form-control">
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
    <div class="box-footer">
      <small><?php View::content() ?></small>
      <button type="submit" class="btn btn-primary pull-right">Guardar</button>
    </div>
  </div><!-- /.box -->
</form>


</section><!-- /.content -->
