<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Nuestro Objetivo
    <small><?php View::content() ?></small>
  </h1>
</section>
<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
<form action="" method="post" enctype="multipart/form-data">
  <?php echo Form::hidden('objetivo.id') ?>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Información de Objetivo</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Titulo</label>
            <?php echo Form::text('objetivo.titulo', array(
              'placeholder'=>"Titulo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label>Texto</label>
            <?php echo Form::textarea('objetivo.texto', array(
              'placeholder'=>"texto",
              'required'=>'true',
              'rows'=>'5',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label>Imagen Principal (1200x390)</label>
            <input class="form-control" required name="imagen" type="file" accept="image/jpeg,image/gif,image/x-png">
          </div><!-- /.form-group -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">Guardar</button>
    </div>
  </div><!-- /.box -->
</form>


</section><!-- /.content -->
