<div class="section">
    <div class="banner-02 bg-overlay banner-full-screen" style="background-image: url('<?php echo PUBLIC_PATH.'img/'.$generales->imagen ?>');">
    </div>
</div>
<div class="section" id="nosotros">
    <div class="about-house-section padding-top padding-bottom">
        <div class="container">
            <div class="about-house-wrapper">

                <div class="col-md-7 about-house-content about-house-padding-left">
                    <div class="underline media-heading">Nosotros<h2 class="title">INVERSIONES MEGATIERRAS S.A.</h2></div>

                    <div style="margin-bottom:40px">
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#historia" aria-controls="historia" role="tab" data-toggle="tab">HISTORIA</a></li>
                        <li role="presentation"><a href="#mision" aria-controls="mision" role="tab" data-toggle="tab">MISIÓN</a></li>
                        <li role="presentation"><a href="#vision" aria-controls="vision" role="tab" data-toggle="tab">VISIÓN</a></li>
                      </ul>

                      <div class="tab-content">
                        <div role="tabpanel" style="padding-top:20px" class="tab-pane active" id="historia">
                          <?php echo $nosotros->historia ?>
                        </div>
                        <div role="tabpanel" style="padding-top:20px" class="tab-pane" id="mision">
                          <?php echo $nosotros->mision ?>
                        </div>
                        <div role="tabpanel" style="padding-top:20px" class="tab-pane" id="vision">
                            <?php echo $nosotros->vision ?>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-md-5 about-house-banner">
                    <div class="about-house-banner-wrapper">
                        <img src="<?php echo PUBLIC_PATH ?>images/icono1.png" alt="" style="width:100px;margin-bottom:20px"><br>
                        <span class="title">CONSTRUCCIÓN E IMPORTACIÓN</span><span class="address">Obras civiles y suministro de materiales para acabados de primera calidad, en proyectos industriales y residenciales</span>
                        <a href="#proyectos" class="btn btn-transparent white" style="margin-top:20px">Ver proyectos</a>
                    </div>
                    <img src="<?php echo PUBLIC_PATH.'img/'.$nosotros->imagen ?>" alt="" style="width:100%;margin-top:20px">
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="section" id="servicios">
    <div class="search-properties padding-top padding-bottom">
        <div class="container">
            <div class="search-properties-wrapper">
                <div class="sunhouse-title white">
                    <div class="icon-image">
                        <img src="<?php echo PUBLIC_PATH ?>images/sobre.png" alt="" class="img-responsive" style="width:100px" />
                    </div>
                    <h2 class="main-title">servicios</h2>

                    <p class="sub-title">Todos nuestros servicios son prestados cumpliendo con los estándares u normas de construcción <br>
                      liderados con un gran equipo de profesionales con experiencia.</p></div>

            </div>
        </div>
        <div class="container" style="color:#fff">
            <div class="row">
                <?php foreach ($servicios as $key => $value): ?>
                  <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:20px">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <img src="<?php echo PUBLIC_PATH.'img/'.$value->imagen?>" alt="" style="width:100%">
                    </div>
                    <div class="col-md-8 col-sm-4 col-xs-4">
                      <div class="new-letter-content" style="min-height:40px">
                        <h5 class="title" style="font-weight:600"><?php echo $value->titulo?></h5>

                      </div>
                      <a href="#contacto" class="btn btn-blue" style="width:50%"><small>SOLICITAR</small></a>
                    </div>
                  </div>
                <?php endforeach; ?>
            </div>
        </div>

    </div>
</div>
<div class="section" id="proyectos">
    <div class="newest-properties padding-top padding-bottom">
        <div class="container">
            <div class="newest-properties-wrapper">
                <div class="sunhouse-title">

                    <h2 class="main-title">Proyectos</h2>

                    <p class="sub-title">Conoce los proyectos en los que hemos trabajado</p>
                </div>
                <div class="row">
                    <div class="newest-properties-content">
                        <?php foreach ($proyectos as $key => $value): ?>
                          <div class="col-md-4 col-xs-6">
                            <div class="sunhouse-item">
                              <a href="#" class="wrapper-image">
                                <img style="border-bottom:5px solid #FEDC00"
                                  src="<?php echo PUBLIC_PATH.'img/'.$value->imagen1 ?>" alt="" class="img-responsive layout-1"/>
                                <img src="<?php echo PUBLIC_PATH.'img/'.$value->imagen2 ?>" alt="" class="img-responsive layout-2"/>
                                <div class="note for-sale"><p class="text" style="font-weight:600"><?php echo (new DateTime($value->fecha))->format('d-M-Y') ?></p></div>
                              </a>
                              <div class="wrapper-content">
                                <div class="about-house" style="text-align:center">
                                  <a href="#" class="title" style="color:#34495E;font-size:16px"><?php echo $value->titulo ?></a>
                                  <p class="text" style="min-height:70px;"><?php echo $value->texto ?></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="find-best-house bg-overlay padding-bottom padding-top" style="background-image: url('<?php echo PUBLIC_PATH.'img/'.$objetivo->imagen ?>');padding-top:60px;padding-bottom:60px">
        <div class="container">
            <div class="find-best-house-wrapper"><p class="sub-title">NUESTRO OBJETIVO</p>

                <h2 class="title"><?php echo $objetivo->titulo?></h2>

                <p class="content"><?php echo $objetivo->texto?></p>
                <a href="#contacto" class="btn btn-yellow">contactar ya</a></div>
        </div>
    </div>
</div>

<!-- <div class="section" id="productos">
    <div class="our-clients-said padding-top padding-bottom">
        <div class="container">
            <div class="our-clients-said-wrapper">
                <div class="sunhouse-title">
                    <div class="icon-image">
                        <img src="images/sobre.png" alt="" class="img-responsive" style="width:100px" />
                    </div>
                    <h2 class="main-title">productos importados</h2>

                    <p class="sub-title">Tenemos una gran variedad de productos provenientes desde China,Perú, y España, así como tambien de producción nacional</p>
                </div>

                 <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:20px">
                             <div class="col-md-4 col-sm-4 col-xs-4">
                                <img src="images/griferia.jpg" alt="" style="width:100%">
                            </div>
                            <div class="col-md-8 col-sm-4 col-xs-4">
                                <div class="new-letter-content">
                                    <h5 class="title" style="font-weight:600;text-transform:uppercase">griferias y lavamanos</h5>
                                    <p>Minima fugiatiunt magni, doloribus quo dolores quos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:20px">
                             <div class="col-md-4 col-sm-4 col-xs-4">
                                <img src="images/duchas.jpg" alt="" style="width:100%">
                            </div>
                            <div class="col-md-8 col-sm-4 col-xs-4">
                                <div class="new-letter-content">
                                    <h5 class="title" style="font-weight:600;text-transform:uppercase">Duchas</h5>
                                    <p>Aliquid perspuaerat accusamus dolor, niasi conse.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:20px">
                             <div class="col-md-4 col-sm-4 col-xs-4">
                                <img src="images/wc.jpg" alt="" style="width:100%">
                            </div>
                            <div class="col-md-8 col-sm-4 col-xs-4">
                                <div class="new-letter-content">
                                    <h5 class="title" style="font-weight:600;text-transform:uppercase">inodoros</h5>
                                    <p>Illo quisquam eligendi soluta vero quasi voluptas accusantium.</p>
                                </div>
                             </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>-->

<div class="section" id="contacto">
    <div class="contact-us" style="background-image: url(<?php PUBLIC_PATH.'img/banner4.jpg'?>);">
        <div class="container">
            <div data-parallax="{&quot;y&quot;:&quot;20%&quot;}" class="contact-us-scroll">
                <div class="contact-us-wrapper">
                    <div class="contact-us-content"><h2 class="title">contacto</h2>

                        <p class="text">Si deseas contactarnos para un proyecto, escríbenos.</p>

                        <div class="info-list">
                            <ul class="list-unstyled">
                                <!--<li class="info-line"><i class="info-icon fa fa-envelope-o"></i><a href="mailto:hola@megatierras.com" class="info-text">hola@megatierras.com</a></li>-->
                                <li class="info-line">
                                  <i class="info-icon fa fa-phone"></i>
                                  <a href="tel:+507 388 4498 " class="info-text"><?php echo $generales->telefono ?></a></li>
                                <li class="info-line">
                                  <i class="info-icon fa fa-map-marker"></i>
                                  <a href="<?php echo $generales->link_direccion ?>"
                                  target="_blank" class="info-text"><?php echo $generales->direccion ?></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="new-letter-wrapper">
                    <div class="contact-us-content"><h2 class="title" style="font-size:18px">formulario de contacto</h2>
                        <form id="form-contact" method="post" action="#">
                            <input type="text" name="fullname" placeholder="Nombre y Apellido" class="contact-form"/>
                            <input type="email" name="email" placeholder="E-mail" class="contact-form"/>
                            <input type="text" name="phone" placeholder="Telefono" class="contact-form"/>
                            <select name="intereses" id="" class="contact-form">
                                <option value="-">Estoy interesad@ en</option>
                                <option value="Levantamiento topográfico">Levantamiento topográfico</option>
                                <option value="Diseño de proyecto Planos y perisología">Diseño de proyecto Planos y perisología</option>
                                <option value="Movimiento de tierra">Movimiento de tierra</option>
                                <option value="Pilotaje hincado y rotativo">Pilotaje hincado y rotativo</option>
                                <option value="Gerencia de proyecto Planificación y ejecución">Gerencia de proyecto Planificación y ejecución</option>
                                <option value="Construcción Construimos tu proyecto con llave en mano">Construcción Construimos tu proyecto con llave en mano</option>

                            </select>
                            <textarea name="message" placeholder="Comentarios" class="contact-form"></textarea>
                            <div class="g-recaptcha" data-sitekey="6LdUajMUAAAAABJ5GPc_vfitdCM9B4qDWD1K1wt_" style="width:60%;float:left"></div>
                            <button type="submit" class="btn btn-transparent white col-xs-12"
                            style="width:100px;margin-left:50px">Enviar</a></button>
                            <div class="col-xs-12">
                              <?php View::content() ?>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
