
<!DOCTYPE html>
<html lang="es">
<head><title>Inversiones MegaTierras S.A.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<?php echo PUBLIC_PATH ?>img/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo PUBLIC_PATH ?>img/favicon.png" />

    <meta name="keywords" content="Panamá, megatierras, crecimiento, construcciones, civil, estructuras, proyectos, desarrollo" />
    <meta name="author" content="maspublicidad" />
    <meta name="robots" content="" />
    <meta name="description" content="La empresa se inició en el año 2001 dedicándose, principalmente a la construcción de obras civiles como estructuras y proyectos llave en mano.  Ha participado interrumpidamente en el desarrollo Regional EN VENEZUELA para el sector privado básicamente en el NOR-ORIENTE del país, construyendo obras que son orgullo para el Edo. Anzoátegui y para la empresa a lo largo y ancho de la ciudad. " />

    <!-- Font css-->
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>fonts/css719e.css?family=Roboto:300,400,700,900">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/font/font-icon/font-awesome-4.4.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/font/font-icon/font-svg/style.css">
    <!-- Library css-->
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/bootstrap-3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/animate/animate.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/owl-carousel-2.0/assets/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/selectbox/css/jquery.selectbox.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/range-slider/jquery.nstSlider.min.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/datetimepicker/css/bootstrap-datetimepicker.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/slick/slick.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/libs/slick/slick-theme.css">
    <!-- style css-->
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/css/layout.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/css/components.css">
    <link type="text/css" rel="stylesheet" href="<?php echo PUBLIC_PATH ?>assets/css/responsive.css">

    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>

    <style>
        .nav-tabs>li>a{
            border-radius: 0;
            background: #F5F5F5;
            font-weight: 600;
            color:#4B4B4D;
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
            color:#fff;
            background: #55AC47;
        }
        .btn.btn-yellow{
            background-color: #FEDC00;
            color: #34495E;
        }
        .btn.btn-yellow:hover {
        background-color: #fff;
        color: #34495E
        }
        option{
            color:#333;
        }
    </style>
</head>
<body><!-- HEADER-->
  <?php View::partial('header', NULL, array('generales'=>$generales)) ?>
  <div id="wrapper-content">
      <div id="page-wrapper">
          <div class="main-content">
            <div class="content">
              <?php View::content() ?>
            </div>
          </div>
      </div>
  </div>
  <?php View::partial('footer') ?>
</body>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/jquery/jquery-2.1.4.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/detect/browser.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/moment/js/moment.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/appear/jquery.appear.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/count-to/jquery.countTo.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/wow-js/wow.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/range-slider/jquery.nstSlider.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/parallax/jquery.data-parallax.min.js"></script>
<script src="<?php echo PUBLIC_PATH ?>assets/libs/slick/slick.min.js"></script>

<script src="<?php echo PUBLIC_PATH ?>assets/js/main.js"></script>
</html>
