<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">NAVEGACIÓN PRINCIPAL</li>
      <li class="active">
        <a href="<?php echo PUBLIC_PATH ?>admin/">
          <i class="fa fa-th"></i> <span>General</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/nosotros/">
          <i class="fa fa-fw fa-photo"></i> <span>Nosotros</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/servicios/">
          <i class="fa fa-fw fa-line-chart"></i> <span>Servicios</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/proyectos/">
          <i class="fa fa-fw fa-puzzle-piece"></i> <span>Proyectos</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/objetivo/">
          <i class="fa fa-fw fa-image"></i> <span>Nuestro Objetivo</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
