@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon06c9.html?kkljk7');
	src:url('fonts/icomoon06c9.html?kkljk7#iefix') format('embedded-opentype'),
		url('fonts/icomoon06c9.ttf?kkljk7') format('truetype'),
		url('fonts/icomoon06c9.woff?kkljk7') format('woff'),
		url('fonts/icomoon06c9.svg?kkljk7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-area_2:before {
	content: "\e900";
}
.icon-armchair:before {
	content: "\e901";
}
.icon-axe:before {
	content: "\e902";
}
.icon-bank:before {
	content: "\e903";
}
.icon-bath:before {
	content: "\e904";
}
.icon-bed:before {
	content: "\e905";
}
.icon-brush:before {
	content: "\e906";
}
.icon-building_1:before {
	content: "\e907";
}
.icon-building_2:before {
	content: "\e908";
}
.icon-building_office:before {
	content: "\e909";
}
.icon-bulb:before {
	content: "\e90a";
}
.icon-cabinet:before {
	content: "\e90b";
}
.icon-crane:before {
	content: "\e90c";
}
.icon-curtains:before {
	content: "\e90d";
}
.icon-chair:before {
	content: "\e90e";
}
.icon-church:before {
	content: "\e90f";
}
.icon-director_chair:before {
	content: "\e910";
}
.icon-door:before {
	content: "\e911";
}
.icon-downstairs:before {
	content: "\e912";
}
.icon-factory:before {
	content: "\e913";
}
.icon-fence:before {
	content: "\e914";
}
.icon-floor_plan:before {
	content: "\e915";
}
.icon-fridge:before {
	content: "\e916";
}
.icon-hammer:before {
	content: "\e917";
}
.icon-hanger_floor:before {
	content: "\e918";
}
.icon-hard_hat:before {
	content: "\e919";
}
.icon-height:before {
	content: "\e91a";
}
.icon-house_1:before {
	content: "\e91b";
}
.icon-house_2:before {
	content: "\e91c";
}
.icon-house_lock:before {
	content: "\e91d";
}
.icon-house_love:before {
	content: "\e91e";
}
.icon-house_plan:before {
	content: "\e91f";
}
.icon-house_sale:before {
	content: "\e920";
}
.icon-house_search:before {
	content: "\e921";
}
.icon-house_sell:before {
	content: "\e922";
}
.icon-house_window:before {
	content: "\e923";
}
.icon-lamp_1:before {
	content: "\e924";
}
.icon-lamp_2:before {
	content: "\e925";
}
.icon-mail_box:before {
	content: "\e926";
}
.icon-mirror:before {
	content: "\e927";
}
.icon-moving:before {
	content: "\e928";
}
.icon-office_table:before {
	content: "\e929";
}
.icon-paint_roller:before {
	content: "\e92a";
}
.icon-rent:before {
	content: "\e92b";
}
.icon-sale:before {
	content: "\e92c";
}
.icon-saw:before {
	content: "\e92d";
}
.icon-screwdriver:before {
	content: "\e92e";
}
.icon-shop:before {
	content: "\e92f";
}
.icon-shovel:before {
	content: "\e930";
}
.icon-sofa:before {
	content: "\e931";
}
.icon-sold:before {
	content: "\e932";
}
.icon-swiming_pool:before {
	content: "\e933";
}
.icon-table:before {
	content: "\e934";
}
.icon-table_chair:before {
	content: "\e935";
}
.icon-tape_line:before {
	content: "\e936";
}
.icon-toilet:before {
	content: "\e937";
}
.icon-toilet_paper:before {
	content: "\e938";
}
.icon-TV:before {
	content: "\e939";
}
.icon-tree:before {
	content: "\e93a";
}
.icon-trowel:before {
	content: "\e93b";
}
.icon-upstairs:before {
	content: "\e93c";
}
.icon-warehouse:before {
	content: "\e93d";
}
.icon-washer:before {
	content: "\e93e";
}
.icon-area_1:before {
	content: "\e93f";
}

